#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-quotes_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Row_cell_1 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e .s-Row_cell_3 {
  position: relative;
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e .s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e .s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e .s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e .s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e .s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-plans {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Row_cell_2 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Row_cell_4 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e .s-Row_cell_6 {
  position: relative;
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e .s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e .s-Row_cell_7 {
  position: relative;
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e .s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-073f4bd0-6dcd-43d3-b38d-f93051bf4c4e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}