#s-13f89107-5c2f-4515-a766-088944a36cfb {
  background-color: transparent;
  background-image: none;
  min-width: 779px;
  min-height: 805px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_1 {
  position: absolute;
  top: 389px;
  left: 25px;
  width: 365px;
  height: 416px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Line_2 {
  position: absolute;
  top: 379px;
  left: 25px;
  width: 748px;
  height: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Image_2 {
  position: absolute;
  top: 389px;
  left: 415px;
  width: 363px;
  height: 206px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_2 {
  position: absolute;
  top: 605px;
  left: 414px;
  width: 365px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8pt;
  font-family: Arial;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Image_3 {
  position: absolute;
  top: 671px;
  left: 459px;
  width: 276px;
  height: 130px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_3 {
  position: absolute;
  top: 345px;
  left: 25px;
  width: 200px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18pt;
  font-family: Verdana;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_3 span {
  color: #80AFC7;
  text-align: left;
  text-decoration: none;
  font-family: Verdana;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #80AFC7;
  text-align: left;
  text-decoration: none;
  font-family: Verdana;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_3 span#rtr-s-Rich_text_3_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Verdana;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}