#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-13f89107-5c2f-4515-a766-088944a36cfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}