#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Rectangle_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 21px 21px 0px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 0px;
  width: 185px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Rectangle_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 21px 21px 0px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 0px;
  width: 183px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Rectangle_3 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 21px 21px 0px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 0px;
  width: 214px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Rectangle_4 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 21px 21px 0px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 0px;
  width: 185px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Rectangle_5 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B4D3F2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B4D3F2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B4D3F2;
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 127px;
  height: 20px;
  -pie-background: linear-gradient(to bottom,#B2C3DB,#3B5880);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_5-options {
  background-color: #FFFFFF;
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_6-options {
  background-color: #FFFFFF;
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_7-options {
  background-color: #FFFFFF;
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_8-options {
  background-color: #FFFFFF;
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}