#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc #s-Row_cell_1 {
  position: relative;
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc #s-Row_cell_3 {
  position: relative;
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc #s-Row_cell_5 {
  position: relative;
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc .s-Row_cell_2 {
  position: relative;
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc .s-Row_cell_4 {
  position: relative;
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc .s-Row_cell_6 {
  position: relative;
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-44f9f3d3-fc84-431d-ae2e-e5b2730d6bfc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}