#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}