#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}