#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_8 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 21px 21px 0px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 0px;
  width: 185px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_7 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 21px 21px 0px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 0px;
  width: 183px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_6 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 21px 21px 0px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 0px;
  width: 214px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_5 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 21px 21px 0px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 0px;
  width: 185px;
  height: 11px;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_1 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B4D3F2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B4D3F2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B4D3F2;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B4D3F2;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B4D3F2;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 93px;
  height: 20px;
  -pie-background: linear-gradient(to bottom,#B2C3DB,#3B5880);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EDC97A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EDC97A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EDC97A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EDC97A;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EDC97A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EDC97A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EDC97A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EDC97A;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EDC97A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EDC97A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EDC97A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EDC97A;
  -ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}