#s-69ae3315-bba3-4578-8229-2240341ca672 #s-Label_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CECECE;
  -ms-transform: rotate(0.0deg);
}
#s-69ae3315-bba3-4578-8229-2240341ca672 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-69ae3315-bba3-4578-8229-2240341ca672 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-69ae3315-bba3-4578-8229-2240341ca672 #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-69ae3315-bba3-4578-8229-2240341ca672 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}